name: Shield Pipeline

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build-and-secure:
        runs-on: ubuntu-latest

        steps:
            # 1 - Get Code from Repo
            - name: Checkout code
              uses: actions/checkout@v3

            # 2 - Build Docker File
            - name: Build Docker Image
              run: docker build -t my-app:${{ github.sha }} .

            # 3 - Security Scan with TRIVY (CVE's)
            - name: Run Trivy Vulnerability Scanner
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: 'my-app:${{ github.sha }}'
                format: 'table'

                # if found CRITIC vulnerabilities, fail the pipeline (exit code 1)
                exit-code: '1'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'